---
---

@import "index", "truth", "surveillance", "propaganda",
    "collapse", "classified", "404";

body {
    color: white;
    font-family: 'Electrolize', monospace;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.links {
    margin-top: 50px;
}

.links a {
    color: red;
    text-decoration: none;
    margin: 0 10px;
}

// backgrounds

.page-background {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.index-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/01.jpg');
}

.collapse-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/02.jpg');
}

.classified-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/03.jpg');
}

.notfound-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/04.jpg');
}

.propaganda-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/05.jpg');
}

.surveillance-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/06.jpg');
}

.truth-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('{{ site.baseurl }}/assets/images/backgrounds/07.jpg');
}

@media (max-height: 32em) {
  .page-background {
    min-height: auto;
    justify-content: flex-start;
  }
}

.content-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
